<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <header>
                <a href='/friends'>Home</a>
                <a href='/logOut'>Logout</a>
            </header>
            <div>
                <h4>{{user.last_name}}'s Profile </h4>
                <p>Name: {{user.first_name}}</p>
                <p>Email: {{user.email}}</p>
            
            </div>
</body>
</html>